#footer a{
    text-decoration: none;
    color: #fff;
    cursor: auto;
}

#footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-top: 2px solid #363636;
    padding-top: 2rem;
}

#footer h3{
    padding-top: 4rem;
    font-size: 2rem;
}

#footer h4{
    font-size: 1.5rem;
}

#footer i{
    font-size: 3rem;
}

.ul{
    display: flex;
    justify-content: space-around;
}

.icons{
    width: 40%;
}